@page "/todoList"
@rendermode InteractiveServer
@using System.Globalization

<h3>Lista de Tarefas</h3>


<div class="accordion" id="accordionExample2">
    @foreach (var curTodo in TodoList.Get()) {
        var collapseId = $"coll-{curTodo.Id}";
        var headingId = $"hea-{curTodo.Id}";

        <div class="accordion-item">
            <h2 class="accordion-header" id="@headingId">
                <button class="accordion-button collapsed" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#@collapseId"
                        aria-expanded="false" aria-controls="@collapseId">
                
                    
                    <input type="checkbox" @bind="curTodo.isDone" /> &nbsp; @curTodo.Title

                </button>
            </h2>
            <div id="@collapseId" class="accordion-collapse collapsed" 
            aria-labelledby="@headingId" data-bs-parent="#accordionExample2">
                <div class="accordion-body">

                    <strong>Descrição:</strong> @curTodo.Description <br />
                    <strong>Data de Entrega:</strong> @curTodo.DueDate.ToString() <br />
                    
                </div>
            </div>
        </div>
    }
</div>

<ul>
    @foreach (TodoItemCompleto todo in TodoList.Get())
    {
        <li>
            @todo.Title
        </li>
    }
</ul>
